* {
  font-family: 'Hepta Slab', serif;
}

img {
  cursor: pointer;
  width: 50px;
}

button {
  cursor: pointer;
  outline: 0;
}

#countdown {
  font-size: 50px;
}

.border-red {
  border: solid 5px red;
}

.border-new-activity {
  border: solid 3px black;
  border-radius: 2px;
}

.toggle-dark {
  background: black;
  color: white;
}
